body{
	background-image: url(../images/b2.jpg);
    background-repeat:no-repeat;
    background-position: bottom;
    background-border:none;
    width: 2000px;
    height: 2000px;
    margin-top: -10px;

}
.banner{
    height: 400px;
    width: 2000px;
    background-image: url(../images/201.jpg);
    background-repeat: no-repeat;
    position: absolute;
    left: -10px;
	top:-6px;
	
}
.lade{
	height: 70px;
	width: 2000px;
	position:absolute;
	top: 394px;
	left: -10px;

	background-image: url(../images/huoyan.jpg);
	background-repeat: no-repeat;
	background-position: center;
}
.c1 li{
    float: left;
    width: 222px;
    list-style: none;
    font-size: 30px;
    font-family: "楷体";
    }
.c1 a{
	text-decoration:none;
	 color: #FFFFFF;
}
.c2{
	position: absolute;
	top: 470px;
	left: 350px;
}
.c3{
	font-size: 40px;
	font-family: "楷体";
	position: absolute;
	left: 350px;}
.c3 a{
	text-decoration:none;
	color: white;
}
.c4{
	position: absolute;
	top: 470px;
	left: 950px;
}
.c5{
	font-size: 40px;
	font-family: "楷体";
	position: absolute;
	left: 350px;
	
}
.c5 a{
	text-decoration:none;
	color: white;
}
.c6{
	position: absolute;
	top: 975px;
	left: 350px;
}
.c7{
	font-size: 40px;
	font-family: "楷体";
	position: absolute;
	left: 350px;
	
}
.c7 a{
	text-decoration:none;
	color: white;
}
.c8{
	position: absolute;
	top: 975px;
	left: 950px;
}
.c9{
	font-size: 40px;
	font-family: "楷体";
	position: absolute;
	left: 350px;
	
}
.c9 a{
	text-decoration:none;
	color: white;
}

.c11 h6{
	position: absolute;
	top: 1920px;
	left: -10px;
	padding-bottom: -50px;
	font-size: 10px;
	font-family: "黑体";
	color: white;
	background-image: url(../images/huoyan.jpg);
	height: 50px;
	width: 2000px;
	background-position: center;

}