body{
	
    background-repeat:no-repeat;
    background-position: bottom;
    background-border:none;
    width: 2000px;
    height: 1800px;
    margin-top: -10px;

}
.banner{
    height: 400px;
    width: 2000px;
    background-image: url(../images/201.jpg);
    background-repeat: no-repeat;
    position: absolute;
    left: -10px;
	top:-6px;
	
}
.logo{
	position: absolute;
	left: 40px;
	top: 40px;
}
.lade input[type='button']{
	position: absolute;
	top: 18px;
	right: 190px;
	background-image: url(../images/ss.gif);
	width: 43px;
	height: 34px;
}
.lade input{
	
	height: 28px;
    margin-right: 20px;
    margin-right: 5px;

}
.lade{
	height: 60px;
	width: 2000px;
	position:absolute;
	top: 394px;
	left: -10px;

	background-image: url(../images/huoyan.jpg);
	background-repeat: no-repeat;
	background-position: center;

}
.jie{
	position: absolute;
	top: 452px;
	left: -5px;
}
.jie2{
	position: absolute;
	top: 1300px;
	left: -5px;
}
.c1 li{
    float: left;
    width: 222px;
    list-style: none;
    font-size: 22px;
    font-family: "楷体";
    }
.c1 a{
	text-decoration:none;
	 color: #FFFFFF;

}
.c1 a:hover{
	color: red;
}
.c2{
	position: absolute;
	top: 1740px;
	left: 240px;
}
.c3{
	position: absolute;
	top: 900px;
	left: 200px;
}
.c4{
	position: absolute;
	top: 500px;
	left: 600px;
	width: 700px;
	height: 700px;
}
.c4 li{
    float: left;


}
.c4 span{
	display: block;
    float: right;
    margin-right: -100px;
}
.c4 li{
	margin-bottom: 30px;
	text-align:left;
	list-style: none;
}
.c4 a{
    text-decoration: none;

}
.c5{
	position: absolute;
	top: 1500px;
	right: 300px;
}
.c5 a{
	text-decoration: none;
}
.mianbao{
	position: absolute;
	top: 470px;
	left: 220px;

}
.mianbao a{
    text-decoration: none;
}
.c11 h6{
	position: absolute;
	top: 1920px;
	left: -30px;
	font-size: 12px;
	font-family: "黑体";
	color: white;
	background-image: url(../images/huoyan.jpg);
	position: absolute;

	height: 50px;
	width: 2000px;
	background-position: center;

}